final_project/bigramify/evaluate/._construct_matrices.py
final_project/glove/.__afs99EB
final_project/glove/data/*
final_project/glove/overflow_*
final_project/glove/.*
final_project/glove/temp_*
final_project/bigramify/data/sentiment_data/*
